# Recommendation Systems


## Introduction

In this lesson, you'll investigate a very different take on networks and investigate how recommendation systems can be built off of networks. 

## Objectives

You will be able to:
* Outline preliminary methods for developing recommendations sytems


## Motivating Ideas

When recommending items to a user whether they be books, music, movies, restaurants or other consumer products one is typically trying to find the preferences of other users with similar tastes who can provide useful suggestions for the user in question. With this, examining the relationships amongst users and their previous preferences can help identify which users are most similar to each other. Alternatively, one can examine the relationships between the items themselves. These two perspectives underlying the two predominant means to recommendation systems: item based and people based. 

## Collaborative Filtering

One popular implementation of this intuition is collaborative filtering. This starts by constructing a matrix of user or item similarities. From there ,

## Importing a DataSet

Bimodal network

In [1]:
import pandas as pd

In [2]:
ls

index.ipynb  ml-100k/     ml-100k.zip

In [6]:
df = pd.read_csv('ml-100k/u.data', delimiter="\t", names=["user_id" , "item_id" , "rating" , "timestamp"])
df.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

As you can see, this dataset could easily be represented as a bimodal weighted network graph connecting user nodes with movies nodes with rating weights.

In [14]:
col_names = ["movie_id" ,"movie_title" ," release_date" ," video_release_date" ,
             "IMDb_URL" ,"unknown"," Action","Adventure", "Animation",
             "Childrens", "Comedy","Crime" ,"Documentary", "Drama","Fantasy",
             "Film-Noir", "Horror", "Musical" ,"Mystery" ,"Romance" ,"Sci-Fi",
             "Thriller","War" ,"Western"
            ]
movies = pd.read_csv('ml-100k/u.item', delimiter="|", encoding='latin1', names=col_names)
movies.head()

,movie_id,movie_title,release_date,video_release_date,IMDb_URL,unknown,Action,Adventure,Animation,Childrens,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

## Creating a User Matrix

## Calculating

## Calculating Recommendations

In [ ]:
##

## Creating an Item Matrix

## Hybrid Approaches

## Summary

In this lesson you got a proper introduction to recommendation systems using collaborative filtering.